<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "hod/style.css" %}" />
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper  deep-purple lighten-2">
          <a href="#!" class="brand-logo">FISAT</a>
          <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">Contact Us</a></li>
            <li><a href="collapsible.html">About Us</a></li>
          </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Contact Us</a></li>
        <li><a href="collapsible.html">About Us</a></li>
    </ul>
    <div class="container center-align">
        <h2 id="faq-header">Login</h2>
        <form method="post">
          {% csrf_token %}
            <div class="z-depth-1 grey lighten-5 " style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
              <div class="row">
                  {{ form.as_p }}
              </div>  
              <div class="row">
                  <button class="btn col s12 btn-large waves-effect waves-light deep-purple lighten-2" type="submit" id="submit">Login

              </div>
            </div>
          </div>
        </form>
    </div> 
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>